/* ./css/NavigationBar.css */
/* ./css/NavigationBar.css */

.navbar {
    background-color: #333;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
  }
  
  .nav-item {
    color: #fff;
    font-size: 16px;
    padding: 10px;
    margin: 5px; /* Agrega margen entre los elementos */
    border: 2px solid cyan; /* Agrega un borde cyan a cada elemento */
    border-radius: 5px; /* Agrega esquinas redondeadas a los elementos */
  }
  .archivo-menu {
    position: absolute;
    top: 7%; /* Coloca el menú debajo del elemento "Archivo" */
    left: 14%;
    display: flex;
    flex-direction: column;
    background-color: #333; /* Fondo blanco */
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1; /* Asegura que el menú esté por encima de otras cajas */

  }

  .reportes-menu{
    position: absolute;
    top: 7%; /* Coloca el menú debajo del elemento "Archivo" */
    left: 80%;
    display: flex;
    flex-direction: column;
    background-color: #333; /* Fondo blanco */
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1; 
  }
  
   .archivo-menu div {
    opacity: 0; 
    transition: opacity 0.3s; 
  }
  
  .nav-item:hover .archivo-menu div {
    opacity: 1; 
    pointer-events: auto; 
  } 

  .reportes-menu div {
    opacity: 0; 
    transition: opacity 0.35s; 
  }
  
  .nav-item:hover .reportes-menu div {
    opacity: 1; 
    pointer-events: auto; 
  } 